$mainRed: #F05A28;



@media (max-width: 767px) {

    .passengerpopup-container{
        display: flex;
        position: fixed;
        flex-direction: column;
        text-align: left;
        left: 5%;
        top: 400px;
        width: 90%;
        background: white;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 4px 4px 10px rgba(93, 93, 93, 0.285);
    
        button{
            margin-top: 10px;
            width: 60%;
            margin-top: 10px !important;
            margin: auto;
            background-color: $mainRed;
            border-style: none;
            color: white;
    
        }
    
        .passengerpopup-container-p{
            padding-top: 18px;
            width: 200px;
            font-weight: 600;
        }
        .passengerpopup-container__plus-icon{
            cursor: pointer;
            transform: scale(1.4);
        }
        .passengerpopup-container__minus-icon{
            cursor: pointer;
            transform: scale(1.4);
        }
    
        .passengerpopup-container__adult{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 40px;
    
            input{
                text-align: center;
                width: 40px;
                height: 40px;
                outline: none;
                
            }
        }
        .passengerpopup-container__child{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 40px;
    
            input{
                text-align: center;
                width: 40px;
                height: 40px;
                outline: none;
            }
        }
        .passengerpopup-container__baby{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 40px;
    
            input{
                text-align: center;
                width: 40px;
                height: 40px;
                outline: none;
            }
        }
        .passengerpopup-container__button{
            border-radius: 5px;
            background-color: rgb(65, 65, 132);
            color: white;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .passengerpopup-container{
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: left;
        left: 43%;
        width: 50%;
        background: white;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 4px 4px 10px rgba(93, 93, 93, 0.285);
        margin-top: -30px;
    
        button{
            margin-top: 10px;
            width: 60%;
            margin-top: 10px !important;
            margin: auto;
            background-color: $mainRed;
            border-style: none;
            color: white;
    
        }
    
        .passengerpopup-container-p{
            padding-top: 18px;
            width: 200px;
            font-weight: 600;
        }
        .passengerpopup-container__plus-icon{
            cursor: pointer;
            transform: scale(1.4);
        }
        .passengerpopup-container__minus-icon{
            cursor: pointer;
            transform: scale(1.4);
        }
    
        .passengerpopup-container__adult{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 40px;
    
            input{
                text-align: center;
                width: 40px;
                height: 40px;
                outline: none;
                
            }
        }
        .passengerpopup-container__child{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 40px;
    
            input{
                text-align: center;
                width: 40px;
                height: 40px;
                outline: none;
            }
        }
        .passengerpopup-container__baby{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 40px;
    
            input{
                text-align: center;
                width: 40px;
                height: 40px;
                outline: none;
            }
        }
        .passengerpopup-container__button{
            border-radius: 5px;
            background-color: rgb(65, 65, 132);
            color: white;
        }
    }
}

@media (min-width: 1024px) {

    .passengerpopup-container{
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: left;
        left: 55%;
        width: 40%;
        margin-top: -30px;
        background: white;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 4px 4px 10px rgba(93, 93, 93, 0.285);
    
        button{
            margin-top: 10px;
            width: 60%;
            margin-top: 10px !important;
            margin: auto;
            background-color: $mainRed;
            border-style: none;
            color: white;
    
        }
    
        .passengerpopup-container-p{
            padding-top: 18px;
            width: 200px;
            font-weight: 600;
        }
        .passengerpopup-container__plus-icon{
            cursor: pointer;
            transform: scale(1.4);
        }
        .passengerpopup-container__minus-icon{
            cursor: pointer;
            transform: scale(1.4);
        }
    
        .passengerpopup-container__adult{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 40px;
    
            input{
                text-align: center;
                width: 40px;
                height: 40px;
                outline: none;
                border-bottom: 0 !important;
            }
        }
        .passengerpopup-container__child{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 40px;
    
            input{
                text-align: center;
                width: 40px;
                height: 40px;
                outline: none;
            }
        }
        .passengerpopup-container__baby{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 40px;
    
            input{
                text-align: center;
                width: 40px;
                height: 40px;
                outline: none;
            }
        }
        .passengerpopup-container__button{
            border-radius: 5px;
            background-color: rgb(65, 65, 132);
            color: white;
        }
    }
}
