.SearchContent-container {
    height: 320px;
    width: 1000px;
    position: relative;
    bottom: 200px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);


    .SearchContent-container__menu {
        position: relative;
        align-items: center;
        justify-content: space-around;
        display: flex;
        width: 1000px;
        padding-bottom: 30px;





        .SearchContent-container__menu-Item {
            display: flex;
            align-items: center;
            width: 1000px;
            cursor: pointer;
            color: white;

            .SearchContent-container__menu-Item__one {
                background: #536aa0;
                width: 250px;
                border-radius: 40px 0 0 0;
                opacity: 0.6;
                transition: 0.3s;
                padding-top: 5px;

                &:hover {
                    background: #475b8a;
                }
            }

            .SearchContent-container__menu-Item__two {
                background: #536aa0;
                width: 250px;
                opacity: 0.6;
                transition: 0.3s;
                padding-top: 5px;

                &:hover {
                    background: #475b8a;
                }
            }

            .SearchContent-container__menu-Item__three {
                background: #536aa0;
                width: 250px;
                opacity: 0.6;
                transition: 0.3s;
                padding-top: 5px;

                &:hover {
                    background: #475b8a;
                }
            }

            .SearchContent-container__menu-Item__four {
                background: #536aa0;
                width: 250px;
                border-radius: 0 40px 0 0;
                opacity: 0.6;
                transition: 0.3s;
                padding-top: 5px;

                &:hover {
                    background: #475b8a;
                }
            }
        }

        .SearchContent-container__icon {
            color: rgb(224, 224, 224);
            font-size: 20px;
        }


    }
}

.SearchContent-container-item__active {
    background-color: red;
    opacity: 1 !important;
}