// Import any global styles or reset here if needed

// Component-specific styles for ChairScreen
.chairScreen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    height: 100%;
    padding: 60px;

    .chairScreen-container-content {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(0, 255, 204);
        position: relative;
        top: 200px;

        .flapleft {
            transform: scaleX(-1);
        }

        .chairScreen-container__box {
            display: flex;
            flex-direction: column;
            background: black;
            padding: 20px;
            position: relative;

            clip-path: polygon(50% 0%, 0 100px, 0 100%, 100% 100%, 100% 100px);

            .chairScreen-container__box__plane {
                background: red;
                border-radius: 50%;
                position: relative;
                clip-path: ellipse(100px 50px at 50% 0);
            }

            .chairScreen-container__box-passengerSide-first {
                display: flex;
                flex-direction: column;
                margin-top: 330px;
                gap: 10px;

                h3 {
                    color: wheat;
                }

                p {
                    color: wheat;
                }

                .first-seat {
                    display: flex;

                    .seat {
                        width: 50px;
                        height: 50px;
                        margin: 5px;
                        background-color: #ccc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        font-size: 14px;
                        cursor: pointer;

                        &:nth-child(3) {
                            margin-right: 40px;
                        }
                    }
                }
            }

            .chairScreen-container__box-passengerSide-second {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    color: wheat;
                }

                p {
                    color: white;
                }

                .second-seat {
                    display: flex;
                    flex-direction: column;

                    .seat {
                        width: 50px;
                        height: 50px;
                        margin: 5px;
                        background-color: #ccc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        font-size: 14px;
                        cursor: pointer;
                    }

                    .seat-gap {
                        margin-right: 40px;
                    }

                    .seat-row {
                        display: flex;
                        flex-direction: row;
                    }
                }
            }

            .chairScreen-container__box-passengerSide-third {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    color: wheat;
                }

                p {
                    color: white;
                }

                .third-seat {
                    display: flex;
                    flex-direction: column;

                    .seat {
                        width: 50px;
                        height: 50px;
                        margin: 5px;
                        background-color: #ccc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        font-size: 14px;
                        cursor: pointer;
                    }

                    .seat-gap-third {
                        margin-right: 40px;
                    }

                    .seat-row {
                        display: flex;
                        flex-direction: row;
                    }
                }
            }

            .chairScreen-container__box-passengerSide-fourth {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    color: wheat;
                }

                p {
                    color: wheat;
                }

                .fourth-seat {
                    display: flex;

                    .seat {
                        width: 50px;
                        height: 50px;
                        margin: 5px;
                        background-color: #ccc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        font-size: 14px;
                        cursor: pointer;

                        &:nth-child(3) {
                            margin-right: 40px;
                        }
                    }
                }
            }

            .chairScreen-container__box-passengerSide-fifth {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    color: wheat;
                }

                p {
                    color: wheat;
                }

                .fifth-seat {
                    display: flex;

                    .seat {
                        width: 50px;
                        height: 50px;
                        margin: 5px;
                        background-color: #ccc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        font-size: 14px;
                        cursor: pointer;

                        &:nth-child(3) {
                            margin-right: 40px;
                        }
                    }
                }
            }

            .chairScreen-container__box-passengerSide-sixth {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    color: wheat;
                }

                p {
                    color: white;
                }

                .sixth-seat {
                    display: flex;
                    flex-direction: column;

                    .seat {
                        width: 50px;
                        height: 50px;
                        margin: 5px;
                        background-color: #ccc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        font-size: 14px;
                        cursor: pointer;
                    }

                    .seat-gap-sixth {
                        margin-right: 40px;
                    }

                    .seat-row {
                        display: flex;
                        flex-direction: row;
                    }
                }
            }

            .chairScreen-container__box-passengerSide-seventh {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    color: wheat;
                }

                p {
                    color: wheat;
                }

                .seventh-seat {
                    display: flex;

                    .seat {
                        width: 50px;
                        height: 50px;
                        margin: 5px;
                        background-color: #ccc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        font-size: 14px;
                        cursor: pointer;

                        &:nth-child(3) {
                            margin-right: 40px;
                        }
                    }
                }
            }

            .chairScreen-container__box-passengerSide-eighth {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    color: wheat;
                }

                p {
                    color: white;
                }

                .eighth-seat {
                    display: flex;
                    flex-direction: column;

                    .seat {
                        width: 50px;
                        height: 50px;
                        margin: 5px;
                        background-color: #ccc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        font-size: 14px;
                        cursor: pointer;
                    }

                    .seat-gap-eighth {
                        margin-right: 40px;
                    }

                    .seat-row {
                        display: flex;
                        flex-direction: row;
                    }
                }
            }
        }
    }
}