.login__container-navbar {
    nav {
        display: flex;
        width: 100%;
        background: rgb(74, 204, 255);

        img {
            width: 300px;
            height: 100px;
            cursor: pointer;
        }
    }
}

.login__container {
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    background: rgb(59, 181, 229);
    height: 100vh;

    .login__container-form {
        width: 400px;
    }

    .signup-button {
        cursor: pointer;
        color: rgb(165, 236, 255);

        &:hover {
            color: rgb(36, 174, 213);
        }
    }
}