@import '~react-datepicker/dist/react-datepicker.css';

.searchItem-one__container {
    .switch {
        position: relative;
        display: inline-block;
        width: 300px;
        height: 34px;
        background-color: #ccc;
        overflow: hidden;
    }

    .switch input[type='checkbox'] {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .switch-slider {
        display: flex;
        position: absolute;
        align-items: center;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        p {
            margin-top: 15px;
            margin-left: 60px;
        }


    }

    .switch-slider:before {
        position: absolute;
        content: '';
        height: 26px;
        width: 150px;
        left: 4px;
        bottom: 4px;
        background-color: #fff;
        box-shadow: 2px 2px 4px rgb(134, 134, 134);
        opacity: 0.6;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 4px;
    }

    .switch input:checked+.switch-slider:before {
        -webkit-transform: translateX(140px);
        -ms-transform: translateX(140px);
        transform: translateX(140px);
    }

    .searchItem-one__container-passenger-amount {
        display: flex;
        flex-direction: column;
        background: pink;

        h3 {
            font-weight: 350;
        }

        h2 {
            cursor: pointer;
            font-size: 20px;
            font-weight: 720;
        }

    }

    .searchItem-one__container__content {
        display: flex;
        align-items: center;
        background: green;
        height: 150px;
        justify-content: space-around;

        button {
            height: 40px;
        }

        .searchItem-one__container__chose-travelDate {
            display: flex;
            justify-content: space-evenly;
            background: red;
            gap: 20px;
            width: 300px;

            .travel-date {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                width: 150px;
                cursor: pointer;

                .calendar {
                    width: 120px;
                }
            }

            .searchItem-one__container-return {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 150px;
            }
        }




        .searchItem-one__container-place {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background: red;
            width: 300px;
            color: white;

            .searchItem-one__container-place__ports-one {
                display: flex;
                flex-direction: column;
                cursor: pointer;


                input {
                    width: 120px;
                    outline: none;
                    border-radius: 20px;
                    border-style: none;
                }

            }

            .searchItem-one__container-place__ports-one hr {
                height: 5px;
                opacity: 999;
                width: 100px;
                border: none;
                background-color: rgb(255, 255, 255);
            }
        }
    }
}

.searchItem-one__container-place__ports {

    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column !important;
    overflow: auto;
    height: 200px;
    width: 200px;
    opacity: 2;
    background: red;


    p {
        background: rgb(38, 255, 0);
        width: 100vh;
        cursor: pointer;
    }
}

.searchItem-one__container-place__ports-right {
    display: flex;
    align-items: center;
    position: relative;
    left: 200px;
    flex-direction: column !important;
    overflow: auto;
    height: 200px;
    width: 200px;
    opacity: 2;
    background: red;

    p {
        background: rgb(38, 255, 0);
        width: 100vh;
        cursor: pointer;
    }
}