@import '~react-datepicker/dist/react-datepicker.css';

.SearchItem-one__container {
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        background-color: #ccc;
        overflow: hidden;
    }

    .switch input[type='checkbox'] {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .switch-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .switch-slider:before {
        position: absolute;
        content: '';
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 4px;
    }

    .switch input:checked+.switch-slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        background-color: #66bb6a;
    }

    .SearchItem-one__container {
        display: flex;
        align-items: center;
    }


}