@import '~react-datepicker/dist/react-datepicker.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$mainRed: #F05A28;


@media (max-width: 767px) {
    
    .searchItem-one__container {


        .switch {
            position: relative;
            display: inline-block;
            width: 300px;
            height: 34px;
            overflow: hidden;
        }

        .switch input[type='checkbox'] {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .switch-slider {
            display: flex;
            position: absolute;
            align-items: center;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 4px;
            background-color: rgb(244, 246, 248);
            box-shadow: 2px 2px 4px rgba(93, 93, 93, 0.2);
            -webkit-transition: .4s;
            transition: .4s;
            align-items: center;
            justify-content: center;

            p {
                padding-top: 15px;
                padding-right: 20px;
                padding-left: 30px;

            }



        }

        .switch-slider:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 150px;
            left: 4px;
            bottom: 4px;
            background-color: #ffffff4f;
            box-shadow: 2px 2px 4px rgb(43, 43, 43);
            opacity: 0.6;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 4px;
            align-items: center;
            justify-content: center;

            p {
                margin-left: 30px;
            }

        }

        .switch input:checked+.switch-slider:before {
            -webkit-transform: translateX(140px);
            -ms-transform: translateX(140px);
            transform: translateX(140px);
        }

        

        .searchItem-one__container__content {
            display: grid;
            align-items: center;
            height: auto;
            justify-content: space-around;
            grid-template-areas:             
                    "A A"      
                    "B B"
                    "C D";

            .searchItem-one__container-passenger-amount {
            display: flex;
            flex-direction: column;
            grid-area: C;


                p {
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                h2 {
                    cursor: pointer;
                    font-size: 15px;
                    width: 80%;
                    margin: auto;
                    font-weight: 320;
                    margin-bottom: 22px;
                    background-color: rgb(244, 246, 248);
                    box-shadow: 2px 2px 4px rgba(93, 93, 93, 0.2);
                    padding: 8px;
                    border-radius: 4px;
                }
            }

            .searchItem-one__container__chose-travelDate {
                display: flex;
                justify-content: space-evenly;
                grid-area: B;

                p {
                    font-weight: bold;
                    margin-bottom: 18px;

                }

                .SearchItem-one__container-travelDate {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    width: 130px;
                    cursor: pointer;
                    


                    .calendar {
                        width: 125px;
                    }
                }

                .searchItem-one__container-return {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 130px;
                    margin-left: 30px;




                    .calendar {
                        margin-top: 18px;
                        width: 125px;

                    }

                    p {
                        margin-bottom: 18px;
                    }
                }
            }

            .searchItem-one__container-place {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                color: black;
                grid-area: A;

                p {
                    font-weight: bold;
                }

                .exchangeIcon {
                    cursor: pointer;
                }

                .searchItem-one__container-place__ports-one {
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;


                    input {
                        margin-top: 35px;
                        width: 120px;
                        outline: none;
                        border-style: none;
                        border: none;
                        border-radius: 0;
                        color: #000000;
                        background-color: rgb(244, 246, 248);
                        box-shadow: 2px 2px 4px rgba(93, 93, 93, 0.2);
                        padding: 8px;
                        border-radius: 4px;

                        &::placeholder {
                            color: gray;
                        }
                    }

                }

                .searchItem-one__container-place__ports-one hr {
                    height: 5px;
                    opacity: 999;
                    width: 100px;
                    border: none;

                }
            }
            .searchItem-one__search-button {
                height: 50px;
                width: 100%;
                padding: 0.5rem;
                outline: none;
                border: none;
                justify-self: center;
                background-color: $mainRed;
                border-radius: 10%;
                cursor: pointer;
                transition: 0.3s;
                grid-area: D;
                
    
                &:hover {
                    background-color: #536aa0;
                }
    
    
            }
        }


        
    }

    .searchItem-one__container-place__ports {

        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column !important;
        overflow: auto;
        height: 200px;
        width: 200px;
        opacity: 2;
        background: white;
        border-radius: 10px;
        padding-top: 10px;



        div{
            border-bottom: 1px solid rgba(219, 219, 219, 0.692);
            width: 100%;
            p {
                padding-top: 5px;
                text-align: center !important;
                background: white;
                cursor: pointer;
                margin-bottom: 5px !important;
            }
        }
    }

    .searchItem-one__container-place__ports-right {
        display: flex;
        align-items: center;
        position: relative;
        left: 50px;
        flex-direction: column !important;
        overflow: auto;
        height: 200px;
        width: 200px;
        opacity: 2;
        background: white;
        border-radius: 10px;
        padding-top: 10px;

        div{
            border-bottom: 1px solid rgba(219, 219, 219, 0.692);
            width: 100%;
            p {
                padding-top: 5px;
                text-align: center !important;
                background: white;
                cursor: pointer;
                margin-bottom: 5px !important;
            }
        }
    }

}

@media (min-width: 768px) and (max-width: 1023px) {

    
    .searchItem-one__container {

        .switch {
            position: relative;
            display: inline-block;
            width: 300px;
            height: 34px;
            overflow: hidden;
        }

        .switch input[type='checkbox'] {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .switch-slider {
            display: flex;
            position: absolute;
            align-items: center;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 4px;
            background-color: rgb(244, 246, 248);
            box-shadow: 2px 2px 4px rgba(93, 93, 93, 0.2);
            -webkit-transition: .4s;
            transition: .4s;
            align-items: center;
            justify-content: center;

            p {
                padding-top: 15px;
                padding-right: 20px;
                padding-left: 30px;
                color: #000000;
            }



        }

        .switch-slider:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 150px;
            left: 4px;
            bottom: 4px;
            background-color: #ffffff4f;
            box-shadow: 2px 2px 4px rgb(43, 43, 43);
            opacity: 0.6;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 4px;
            align-items: center;
            justify-content: center;

            p {
                margin-left: 30px;
            }

        }

        .switch input:checked+.switch-slider:before {
            -webkit-transform: translateX(140px);
            -ms-transform: translateX(140px);
            transform: translateX(140px);
        }

        .searchItem-one__container-passenger-amount {
            display: flex;
            flex-direction: column;

            p {
                font-weight: bold;
                margin-bottom: 25px;
            }


            h2 {
                cursor: pointer;
                font-size: 15px;
                font-weight: 320;
                margin-bottom: 32px;
                background-color: rgb(244, 246, 248);
                box-shadow: 2px 2px 4px rgba(93, 93, 93, 0.2);
                padding: 8px;
                border-radius: 4px;
            }

        }

        .searchItem-one__container__content {
            display: flex;
            align-items: center;
            height: 150px;
            justify-content: space-around;



            .searchItem-one__container__chose-travelDate {
                display: grid;
                justify-content: space-evenly;
                width: 25%;

                p {
                    font-weight: bold;
                    margin-bottom: 2px;

                }

                .SearchItem-one__container-travelDate {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    width: 100%;
                    cursor: pointer;


                    .calendar {
                        width: 100%;
                    }
                }

                .searchItem-one__container-return {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 100%;




                    .calendar {
                        margin-top: 2px;
                        width: 100%;

                    }

                    p {
                        margin-bottom: 18px;
                    }
                }
            }




            .searchItem-one__container-place {
                display: flex;
                align-items: center;
                justify-content: space-around;

                width: 300px;
                color: black;

                p {
                    font-weight: bold;
                }

                .exchangeIcon {
                    cursor: pointer;
                }

                .searchItem-one__container-place__ports-one {
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;


                    input {
                        margin-top: 35px;
                        width: 120px;
                        outline: none;
                        border-style: none;
                        border: none;
                        background-color: transparent;
                        border-radius: 0;
                        color: #000000;
                        background-color: rgb(244, 246, 248);
                        box-shadow: 2px 2px 4px rgba(93, 93, 93, 0.2);
                        padding: 8px;
                        border-radius: 4px;

                        &::placeholder {
                            color: gray;
                        }
                    }

                }

                .searchItem-one__container-place__ports-one hr {
                    height: 5px;
                    opacity: 999;
                    width: 100px;
                    border: none;

                }
            }
        }


        .searchItem-one__search-button {
            margin-bottom: 25px;
            height: 50px;
            width: 50px;
            padding: 0.5rem;
            padding-bottom: 0.75rem;
            outline: none;
            border: none;
            align-items: center;
            background-color: $mainRed;
            border-radius: 100%;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: #536aa0;
            }


        }
    }

    .searchItem-one__container-place__ports {

        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column !important;
        overflow: auto;
        height: 200px;
        width: 25%;
        opacity: 2;
        background: white;
        border-radius: 10px;

        div{
            border-bottom: 1px solid rgba(219, 219, 219, 0.692);
            width: 100%;
            p {
                padding-top: 5px;
                text-align: center !important;
                background: white;
                cursor: pointer;
                margin-bottom: 5px !important;
            }
        }
    }

    .searchItem-one__container-place__ports-right {
        display: flex;
        align-items: center;
        position: relative;
        left: 20%;
        flex-direction: column !important;
        overflow: auto;
        height: 200px;
        width: 25%;
        opacity: 2;
        background: white;
        border-radius: 10px;

        div{
            border-bottom: 1px solid rgba(219, 219, 219, 0.692);
            width: 100%;
            p {
                padding-top: 5px;
                text-align: center !important;
                background: white;
                cursor: pointer;
                margin-bottom: 5px !important;
            }
        }

        
    }
}

@media (min-width: 1024px) {
        
    .searchItem-one__container {

        .switch {
            position: relative;
            display: inline-block;
            width: 300px;
            height: 34px;
            overflow: hidden;
        }

        .switch input[type='checkbox'] {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .switch-slider {
            display: flex;
            position: absolute;
            align-items: center;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 4px;
            background-color: rgb(244, 246, 248);
            box-shadow: 2px 2px 4px rgba(93, 93, 93, 0.2);
            -webkit-transition: .4s;
            transition: .4s;
            align-items: center;
            justify-content: center;

            p {
                padding-top: 15px;
                padding-right: 20px;
                padding-left: 30px;
                color: #000000;

            }



        }

        .switch-slider:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 150px;
            left: 4px;
            bottom: 4px;
            background-color: #ffffff4f;
            box-shadow: 2px 2px 4px rgb(43, 43, 43);
            opacity: 0.6;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 4px;
            align-items: center;
            justify-content: center;

            p {
                margin-left: 30px;
            }

        }

        .switch input:checked+.switch-slider:before {
            -webkit-transform: translateX(140px);
            -ms-transform: translateX(140px);
            transform: translateX(140px);
        }

        .searchItem-one__container-passenger-amount {
            display: flex;
            flex-direction: column;

            p {
                font-weight: bold;
                margin-bottom: 25px;
            }


            h2 {
                cursor: pointer;
                font-size: 15px;
                font-weight: 320;
                margin-bottom: 32px;
                background-color: rgb(244, 246, 248);
                box-shadow: 2px 2px 4px rgba(93, 93, 93, 0.2);
                padding: 8px;
                border-radius: 4px;
            }

        }

        .searchItem-one__container__content {
            display: flex;
            align-items: center;
            height: 150px;
            justify-content: space-around;



            .searchItem-one__container__chose-travelDate {
                display: flex;
                justify-content: space-evenly;
                gap: 20px;
                width: 300px;

                p {
                    font-weight: bold;
                    margin-bottom: 18px;

                }

                .SearchItem-one__container-travelDate {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    width: 130px;
                    cursor: pointer;


                    .calendar {
                        width: 125px;
                    }
                }

                .searchItem-one__container-return {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 130px;
                    margin-left: 30px;




                    .calendar {
                        margin-top: 18px;
                        width: 125px;

                    }

                    p {
                        margin-bottom: 18px;
                    }
                }
            }




            .searchItem-one__container-place {
                display: flex;
                align-items: center;
                justify-content: space-around;

                width: 300px;
                color: black;

                p {
                    font-weight: bold;
                }

                .exchangeIcon {
                    cursor: pointer;
                }

                .searchItem-one__container-place__ports-one {
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;


                    input {
                        margin-top: 35px;
                        width: 120px;
                        outline: none;
                        border-style: none;
                        border: none;
                        background-color: transparent;
                        border-radius: 0;
                        color: #000000;
                        background-color: rgb(244, 246, 248);
                        box-shadow: 2px 2px 4px rgba(93, 93, 93, 0.2);
                        padding: 8px;
                        border-radius: 4px;

                        &::placeholder {
                            color: gray;
                        }
                    }

                }

                .searchItem-one__container-place__ports-one hr {
                    height: 5px;
                    opacity: 999;
                    width: 100px;
                    border: none;

                }
            }
        }


        .searchItem-one__search-button {
            margin-bottom: 25px;
            height: 70px;
            width: 70px;
            padding: 0.5rem;
            padding-bottom: 0.75rem;
            outline: none;
            border: none;
            font-size: 1.7rem;
            background-color: $mainRed;
            border-radius: 100%;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: #536aa0;
            }


        }
    }

    .searchItem-one__container-place__ports {

        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column !important;
        overflow: auto;
        height: 200px;
        width: 200px;
        opacity: 2;
        background: white;
        border-radius: 10px;
        padding-top: 10px;
        scrollbar-width: 3px;
        


        p {
            background: white;
            width: 100%;
            cursor: pointer;
        }
    }

    .searchItem-one__container-place__ports-right {
        display: flex;
        align-items: center;
        position: relative;
        left: 200px;
        flex-direction: column !important;
        overflow: auto;
        height: 200px;
        width: 200px;
        opacity: 2;
        background: white;
        border-radius: 10px;
        scrollbar-width: 3px;

        p {
            background: white;
            width: 100%;
            cursor: pointer;
        }
    }

}
