.shoppingSummary-container {
    display: flex;
    flex-direction: column;

    .shoppingSummary__container-navbar {
        nav {
            display: flex;
            width: 100%;
            background: rgb(74, 204, 255);

            img {
                width: 300px;
                height: 100px;
                cursor: pointer;
            }
        }

        .shoppingSummary__container-navbar-alt {
            display: flex;

            h3 {
                margin-left: 100px;
            }
        }
    }

    .shoppingSummary-container-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: red;
        height: 100vh;

        h4 {
            cursor: pointer;

            &:hover {
                background: green;
            }
        }
    }

    .shoppingSummary-container-box__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        padding: 20px;
        width: 80%;
        background: rgb(87, 118, 87);

        .shoppingSummary-container-box__list-top {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            p {
                font-size: 30px;
            }
        }

        .shoppingSummary-container-box__list-bottom {
            display: flex;
            background: red;
            width: 100%;
            align-items: center;
            justify-content: space-around;

            .shoppingSummary-container-box__list-name {
                display: flex;

                .name {
                    display: flex;
                    flex-direction: column;

                    .name-flex {
                        display: flex;
                        gap: 20px;
                    }
                }
            }

            .shoppingSummary-container-box__list-surName {
                display: flex;

                .surname {
                    display: flex;
                    flex-direction: column;

                    .surname-flex {
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }

        .shoppingSummary-container-box__list-passenger {
            display: flex;
            width: 100%;
            background: green;
            justify-content: space-around;

            .shoppingSummary-container-box__list-passengerInfo {
                display: flex;
            }
        }

    }
}